*.cmd
.idea/

node_modules/
public/documents/
public/bower_components/
public/components/
bower_components/
public/components/
public/surveyAnswers/
upload/*.*
_windows/
*.xml
logs
.DS_Store
coverage
review
.vscode/

src/cfg/scoringEngine.py
src/model/caseReviewObject.js
